.Networking-Container {
  width: 100%;
  height: 840.5px;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 2rem;
}
.Networking-Panel-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.Networking-Image-Panel {
  width: 27%;
}
.Networking-Info-Panel {
  width: 27%;
}
