.wrapper {
  height: 700px;
  width: 100%;
  background-color: white;
}
.cultural-title-container {
  width: 800px;
  height: 100px;
  display: flex;
  text-align: left;
  margin-left: 15%;
  background-color: white;
  justify-content: center;
  align-items: center;
}
.cultural-title-text {
  width: 100%;
  font-size: 4rem;
  font-weight: 600;
}
.cultural-container {
  display: flex;
  height: 600px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #83a5a3, white);
}
.cultural {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
}

.cultural-text {
  width: 75%;
  font-size: 18px;
  font-weight: 400;
  order: 1;
  justify-content: center;
  align-items: center;
}

.cultural-info-container {
  width: 50%;
  display: flex;
  font-size: 19px;
  font-weight: 500;
  flex-direction: column;
  order: 1;
  margin-left: 10px;
}
.cultural-info-container img {
  width: 15%;
  height: 80%;
}
.cultural-info-section {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #83a5a3;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
  color: white;
}
.cultural-info-section:nth-child(2),
.cultural-info-section:nth-child(3) {
  margin-top: 10px;
}

.cultural-pic {
  width: 50%;
  border-radius: 10px;
}
.cultural-pic img {
  width: 100%;
  border-radius: 10px;
  object-fit: fill;
}

.icon-container {
  height: 100%;
  width: 19.5%;
}

.icon-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
